<div class="panel panel-info">
  
  <div class="panel-heading">
    <h3 class="panel-title">Atur pencarian </h3>
  </div>
  <div class="panel-body"> 
    <p> 
      Jarak: <%= @radius %> km <br>
    </p>
  </div>
</div>