<div class="panel panel-info">
  
  <div class="panel-heading">
    <h3 class="panel-title">Halte TransJakarta <span class="badge pull-right"><%= @stops.count(:all) %></span> </h3>
  </div>
  <div class="panel-body">  
    <% if @stops.empty? %>
      <div class="alert alert-warning">
        <p>Tidak ada halte dalam jarak <%= @radius %> km di sekitar lokasi</p>
      </div>
    <% end %>


    <% @stops.each do |stop| %>

      <%= "K#{stop.corridor.number}. #{stop.name} (#{stop.distance_string})" %>
      <br>

    <% end %>
  </div>
</div>