<h1>Brentimana</h1>

<div class="row">
  <div class="col-lg-12">
    <%= form_tag("/search?q=Monumen Nasional", method: "get") do %>
      <%= label_tag(:q, "Search for:") %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>
</div>
