    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
        <div class="vert-text">
            <div class="container-fluid">
                <h1>Brentimana</h1>
    
                <h3>
                    Cari lokasi halte TransJakarta terdekat dari mana saja
                </h3>
            </div>
            <br>
            <div class="col-md-6 col-md-offset-3">
                <%= render 'search_form' %>
            </div>
           
        </div>
    </div>
    <!-- /Full Page Image Header Area -->


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <hr>
                    <p>Copyright &copy; TillDawnProgrammer.com 2014</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- /Footer -->


    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
    <script>
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });
    </script>
    <script>
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

    <script>
    var input = /** @type {HTMLInputElement} */(
      document.getElementById('q'));

    var autocomplete = new google.maps.places.Autocomplete(input);
    </script>